@import "scss/variables";

.container {
  &--two {
    display: inline-flex;
    flex-direction: row;
  }
}

.bar {
  display: inline-flex;
  width: 100%;
  height: $gutter*2.5;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  align-items: center;

  &--content a {
    color: #fff;
    text-decoration: none;
  }

  &--one {
    padding-left: $gutter;
    font-family: "Roboto Slab", serif;
    font-size: 1.5em;
    font-weight: bold;
    background-color: transparent;
  }

  &--two {
    padding-right: $gutter;
    background-color: transparent;
  }

  &--three {
    display: none;
  }

  @media (min-width: 500px) {
    &--three {
      display: initial;
      max-height: $gutter*1.5;
      padding: 3px $gutter;
      margin: auto;
      margin-right: $gutter; 
      background-color: #666;
      border-radius: 4px;
      align-self: center;

    }
  }
}
