@import "scss/variables";

.container {
  &--two {
    display: inline-flex;
    flex-direction: row;
  }
}

.bar  {
  background-color: rgba(0, 0, 0, 0.5);
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  height: $gutter*3;


  &--content a {
    text-decoration: none;
    color: white;
  }

  &--one {
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background-color: transparent;
    padding-left: $gutter;
  }

  &--two {
    padding-right: $gutter;
  }

  &--three {
    display: none;
  }

  @media (min-width: 500px) {
    &--three {
      display: initial;
      background-color: #666;
      border-radius: 4px;
      margin: 0 $gutter;
      padding: 0 $gutter;
      max-height: $gutter*1.5;
      align-self: center;
    }
  }
}
