@import "scss/variables";

.blockquote {
  max-width: 100%;
  margin-left: $gutter;

  &--one {
    margin-bottom: $gutter;
    font-size: 1.5em;
    font-style: italic;
  }

  &--one::first-letter { //ath!!!
    text-indent: -$gutter;
  }

  &--two {
    margin-bottom: $gutter;
    font-size: 0.75em;
  }

  @media (min-width: 600px) {
    float: right;
    padding: $gutter * 2 0 $gutter * 2 $gutter * 2;
    margin: 0 auto;
  }
}
