.button {
  margin: 0 auto;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 256px;

  color: #eee;
  background-color: #666;

  text-decoration: none;
  text-align: center;
  font-size: 1rem;

  &--one { //niðri á form síðu

  }

  &--two { //uppi á index síðu

  }

  &--three { //niðri á index síðu

  }
}
