.card {
  width: 100%;
  padding: $gutter;
  overflow: hidden;

  &__content {
    display: flex;
    padding: 15px;

    @media (min-width: 600px) {
      align-items: flex-start;
    }
  }

  &__blockquote {
    display: flex;
    align-items: center;
    margin-bottom: $gutter;
    font-size: 18px;
    font-style: italic;
    background: "pink";
  }

  &__name {
    display: flex;
    align-items: flex-start;
    font-size: 1em;
    background: "green";
  }

  &__text {
    font-size: 12px;
  }

  &__img {
    width: 100%;
    padding: 15px;
    margin-bottom: $gutter;
    border-radius: 100%;
  }
}
