@import "scss/variables";
.form{
  max-width: $max-width;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .boxes{
    border-radius: 2px 2px 2px 2px;
    -webkit-appearance: none;
  }

  .date{
    display: flex;
    justify-content: space-between;
  }

  .labels{
    width: 100%;
    flex-grow: 2;
  }

  .items{
    border-radius: 2px 2px 2px 2px;
    -webkit-appearance: none;
    width: 100%;
    flex-grow: 2;
  }

  @media (min-width: 600px){
    display: inline-flex;
    flex-direction: column;
    margin: 0 $gutter;
    justify-content: space-around;
  }

  @media (min-width: 1200px){

  }

}
