@import "scss/variables";
.form{
  max-width: $max-width;
  margin: auto;
  /*
  margin: $gutter $gutter;
  display: flex;
  flex-wrap: wrap;*/

  @media (max-width: 400px){
    display: flex;
  }

  /*.section{
    max-width: $col*2;
    display: flex;
    flex-direction: column;*/

  }
  .item{

  }
}
