@import "scss/variables";

.form {
  display: flex;
  max-width: $max-width;
  flex-direction: column;
  background-color: "pink";

  &__container {
    display: flex;
    margin: auto;
  }

  &--one {
    background: pink;
    margin: 0 auto;
  }

  &--two {
    background: pink;
    margin: auto;
  }

  &__content {
    max-width: 100%;
    height: inherit;

  }

  .boxes {
    border-radius: 2px;
    -webkit-appearance: none;
  }

  .date {
    display: flex;
    justify-content: space-between;

    .labels {
      width: 100%;
      flex-grow: 2;
      text-align: center;
    }

    .genders {
      display: flex;
      flex-direction: column;
    }

    .boxes {
      width: 100%;
      text-align: center;
      border-radius: 2px;
      -webkit-appearance: none;
      flex-grow: 2;
    }
  }

  @media (max-width: 599px) {

  }

  @media (min-width: 399px) {
}
}
