@import "scss/variables";

.heading {
  font-family: "Roboto Slab", serif;

  &--one {
    font-size: 4em;

  }

  &--two {
    font-size: 1.5rem;

    &--bil {
      margin-top: $gutter * 4;
      margin-bottom: $gutter;
    }
  }

  &--three {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }

  &--about {
    font-weight: bold;
  }

  &--trans {
    &--one {
      opacity: 0;
      animation: fade-in 1s ease-in-out forwards 1s;
      word-break: normal;
    }

    &--two {
      opacity: 0;
      animation: fade-in 1s ease-in-out forwards 2s;
    }

    &--three {
      opacity: 0;
      animation: fade-in 1s ease-in-out forwards 3s;
    }

  }
}
