.header {
  display: flex;
  width: 100%;
  max-width: $max-width;
  min-height: 100vh;
  margin: 0 auto $gutter * 2;
  flex-direction: column;
  background-size: cover;

  &--one {
    background: transparent url('img/bg.jpg') no-repeat fixed 50% 50%;
  }

  &--one .content {
    margin: auto;
  }

  &--two {

  }  
}
