@import "scss/variables";

.heading {
  font-family: 'Roboto Slab', serif;

  &--one {
    font-size: 4em;
  }

  &--two {
    font-size: 1.5em;
    margin-bottom: $gutter;
    margin-top: 4*$gutter;
  }

  &--three {
    font-size: 1em;
  }
}
