.heading {
  font-family: 'Roboto Slab', serif;

  &--one {
    font-size: 3em;
  }

  &--two {
    font-size: 1em;
    margin-bottom: $gutter;
    margin-top: 2*$gutter;
  }

  &--three {
    font-size: 1em;
  }
}
