@import "scss/variables";

.header {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  opacity: 0.9;

  &--one {
    min-height: 100vh;
    margin-top: 0;
    margin-bottom: $gutter * 6;
    background: transparent url("img/bg.jpg") no-repeat fixed 50% 50%;
    background-size: cover;
  }

  &--one .content {
    margin-top: $gutter * 10;
    text-align: center;
    word-break: break-all;
  }

  &--two {
    max-height: 70vh;
    background: transparent url("img/bg-subpage.jpg") no-repeat fixed 50% 50%;
    background-position: center;
    background-size: contain;
  }

  &--two .content {
    padding: 12rem 0;
    margin: auto 0;
    color: #fff;
    text-align: left;
    word-break: break-all;
  }
}
