@import "scss/variables";

.header {
  width: 100%;
  max-width: 1200px;
  min-height: 95vh;
  margin: 0 auto;
  opacity: 0.9;

  &--one {
    margin-top: 0;
    background: transparent url("img/bg.jpg") no-repeat fixed 50% 50%;
    background-size: cover;
  }

  &--one .content {
    margin: 0 auto $gutter * 2;
    text-align: center;
    word-break: break-all;
  }

  &--two {
    background: transparent url("img/bg-subpage.jpg") no-repeat fixed 50% 50%;
    background-position: 0 0;
    background-size: cover;
  }

  &--two .content {
    padding: 12rem 0;
    margin: auto;
    color: #fff;
    text-align: left;
    word-break: break-all;
  }

//búin að finna hvaða gæja þarf að nota í animationið :)
  .heading {
    &--two {
      background: "green";
    }

    &--one {
      background: "green";
    }
  }

  .container .button {
    background: "green";
  }
}
