.item {
  width: 100%;
  padding: $gutter;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: pink;
  }

  &__heading {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: bold;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__p {
    font-size: 1em;
  }

  &__img {
    display: flex;
    flex-direction: row;
    max-width: 20px;
    width: 20px;
    background: green;
  }

  &__image {
    max-width: 100%;
    width: 100%;
  }
}
