.item {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  overflow: hidden;
  margin: $gutter * 3.5 0;

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: $gutter / 2;
  }

  &__heading {
    font-family: 'Roboto Slab', serif;
    font-size: 21px;
    font-weight: bold;
  }

  &__text {
    font-size: 18px;
  }

  &__img {
    height: 30px;
    width: 30px;

  }
}
