.item {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  overflow: hidden;
  margin: $gutter * 4 0;

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__heading {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
  }

  &__text {
    font-size: 1em;
  }

  &__img {
    height: 25px;
    width: 25px;

  }
}
