@import "scss/variables";

.item {
  display: flex;
  width: 100%;
  padding: 0;
  margin: $gutter * 3.5 0;
  overflow: hidden;
  flex-direction: row;

  &__container {
    margin-bottom: $gutter;
  }

  &__content {
    display: flex;
    width: 100%;
    margin-left: $gutter / 2;
    flex-direction: column;
  }

  &__heading {
    font-family: "Roboto Slab", serif;
    font-size: 21px;
    font-weight: bold;
  }

  &__text {
    font-size: 18px;
  }

  &__img {
    width: 30px;
    height: 30px;
  }
}
