.text {
  width: 100%;

  &__heading {
    margin-top: $gutter * 4;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
  }

  &__p {
    margin: $gutter 0;
  }

  &__p:last-child {
    margin-bottom: $gutter * 2;
  }
}
