html {
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5; }

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

img {
  max-width: 100%; }

main {
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-4 {
      width: 33.33333%; } }
  @media (max-width: 399px) {
    .col-xs-12 {
      width: 100%; }
    .col-xs-6 {
      width: 50%; }
    .col-xs-4 {
      width: 33.33333%; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  opacity: 0.9; }
  .header--one {
    min-height: 100vh;
    margin-top: 0;
    margin-bottom: 120px;
    background: transparent url("img/bg.jpg") no-repeat fixed 50% 50%;
    background-size: cover; }
  .header--one .content {
    margin: 300px;
    text-align: center;
    word-break: break-all; }
  .header--two {
    max-height: 70vh;
    width: 100%;
    background: transparent url("img/bg-subpage.jpg") no-repeat fixed 50% 50%;
    background-position: 0 0;
    background-size: contain; }
  .header--two .content {
    padding: 12rem 0;
    margin: auto 0;
    color: #fff;
    text-align: left;
    word-break: break-all; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.heading {
  font-family: "Roboto Slab", serif; }
  .heading--one {
    font-size: 4em; }
  .heading--two {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 1.5rem; }
  .heading--three {
    font-size: 1em;
    text-align: center; }
  .heading--trans--one {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards 1s; }
  .heading--trans--two {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards 2s; }
  .heading--trans--three {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards 3s; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.text {
  width: 100%;
  padding: 0;
  margin: 70px 0;
  margin-bottom: 20px;
  font-style: normal; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.container {
  text-align: center; }
  .container .button {
    width: auto;
    margin: 0;
    font-size: 1em;
    color: #eee;
    text-decoration: none;
    cursor: pointer;
    background-color: #666;
    border: 0;
    border-radius: 4px;
    transition: background-color 500ms ease, color 500ms ease; }
    .container .button--one {
      padding: 10px 110px;
      margin-top: 20px; }
    .container .button--two {
      padding: 10px 60px;
      margin-top: 20px; }
    .container .button--three {
      padding: 10px 40px;
      margin-top: 60px; }
  .container .button:hover {
    background-color: #383838; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.card {
  width: 100%;
  display: flex;
  width: 100%;
  overflow: auto;
  text-align: center;
  flex-direction: column; }
  .card__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .card__img {
    width: 80%;
    margin: 0 auto;
    border-radius: 100%; }
  .card__blockquote {
    font-size: 18px;
    font-style: italic;
    font-weight: bold; }
  .card__name {
    font-size: 16px; }
  .card__text {
    margin-bottom: 20px;
    font-size: 12px; }

@media (min-width: 400px) {
  .card {
    margin: 0 auto;
    flex-direction: column;
    align-items: center; } }

@media (min-width: 600px) {
  .card {
    margin: 0 auto;
    flex-direction: row;
    align-items: center; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.item {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 70px 0;
  overflow: hidden;
  flex-direction: row; }
  .item__content {
    display: flex;
    width: 100%;
    margin-left: 10px;
    flex-direction: column; }
  .item__heading {
    font-family: "Roboto Slab", serif;
    font-size: 21px;
    font-weight: bold; }
  .item__text {
    font-size: 18px; }
  .item__img {
    width: 30px;
    height: 30px; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.form {
  display: flex;
  max-width: 1200px;
  flex-direction: column; }
  .form__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px; }
  @media (min-width: 599px) {
    .form__col {
      width: 33.33333%;
      padding-right: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-left: 10px;
      margin-right: 8.33333%;
      margin-left: 8.33333%; } }
  .form__item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 20px; }
  .form .boxes {
    padding: 5px;
    border-width: 1px;
    border-color: #383838;
    border-radius: 3px;
    -webkit-appearance: none; }
  .form__dates {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .form__dates .labels {
      width: 100%;
      flex-grow: 2;
      text-align: center; }
    .form__dates .labels--two {
      align-self: flex-start; }
  .form .genders {
    display: flex;
    flex-direction: column; }
  .form .box {
    width: 100%;
    text-align: center;
    flex-grow: 2; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.blockquote {
  max-width: 100%;
  margin-left: 20px; }
  .blockquote--one {
    margin-bottom: 20px;
    font-size: 1.5em;
    font-style: italic; }
  .blockquote--one::first-letter {
    text-indent: -20px; }
  .blockquote--two {
    margin-bottom: 20px;
    font-size: 0.75em; }
  @media (min-width: 600px) {
    .blockquote {
      float: right;
      padding: 40px 0 40px 40px;
      margin: 0 auto; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.container--two {
  display: inline-flex;
  flex-direction: row; }

.bar {
  display: inline-flex;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: space-between;
  align-items: center;
  transition: background-color 500ms ease, color 500ms ease; }
  .bar--content a {
    color: #fff;
    text-decoration: none; }
  .bar--one {
    padding-left: 20px;
    font-family: "Roboto Slab", serif;
    font-size: 1.5em;
    font-weight: bold;
    background-color: transparent; }
  .bar--two {
    padding-right: 20px;
    background-color: transparent; }
  .bar--three {
    display: none; }
  .bar--three:hover {
    background-color: rgba(0, 0, 0, 0.5); }
  @media (min-width: 500px) {
    .bar--three {
      display: initial;
      max-height: 30px;
      padding: 3px 20px;
      margin: auto;
      margin-right: 20px;
      background-color: #666;
      border-radius: 4px;
      align-self: center; } }
