$max-width: 1200px;
$gutter: 20px;

/*setjum bara box-sizing: border-box á allt því það var gert síðast :P */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  /*fjarlægja margin og padding, veit ekki afhvejru samt*/
  padding: 0;
  margin: 0;
}

@import "scss/header";
@import "scss/variables";
@import "scss/heading";
@import "scss/cover";
@import "scss/grid";
@import "scss/button";
@import "scss/text";
@import "scss/blockquote";
@import "scss/footer";
@import "scss/cardlist";
@import "scss/card";
@import "scss/form";
